body {
  background-color: #CDDEFF;
}

.profile-head {
  padding-top: 70px;
}

/* note that it's advisable to write attributes alphabetically, but I have left width at the top cos I felt it's something that comes first before the borders */
hr {
  width: 5%;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
}

h1 {
  color: #03045E;
}

h3 {
  color: #084594;
}

a:link {
  text-decoration: none;
}
